<h3>Welcome to BEW</h3>
<a class="unauthenticated" href="/signup">Signup</a>
<a class="unauthenticated" href="/login">Login</a>
<a class="authenticated" href="/logout" method="POST">Logout</a>
<h4 class="authenticated">Wow you're in the system!</h4>


